#page-home #page-home-content main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
#page-home #page-home-content main .landing .landing-content {
    display: flex;
    align-items: center;
    justify-content: center;
}


#page-home #page-home-content main .landing .landing-content img {
    margin-top: 10px;
    width: 45%;
    transform: scaleX(-1)
}

#page-home #page-home-content main .landing .landing-content .landing-text {
    width: 50%;
}
#page-home #page-home-content main .landing .landing-content .landing-text h1 {
    font-size: 40px;
    color: #FED523;

    stroke-width: 2px;
    text-shadow: black 3px 2px 0;
}
#page-home #page-home-content main .landing .landing-content .landing-text p{
    color: #6C6C80;
    font-size: 20px;
}