footer {
    background: var(--color-gray-header);
    width: 100%;
    position:absolute;
    bottom:0;
}
footer .footer-group{
    display: block;
    justify-content: center;
    align-content: center;
}
footer .footer-group p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 1.3rem;
    color: #555555; 
    margin: 2rem 0rem;
}
